html {
    font-family: sans-serif;
}


h1.title {
    text-align: center;
    font-size: 70;
    color: white;
    vertical-align: middle;
    line-height: 120px;
}

h2.centered {
    text-align: center;
    font-size: 50;
    
}
h3.centered {
    text-align: center;
    font-size: 30;
}

p.centered {
    text-align: center;
}

.top {
    background-image: url("/blackTextureBg.jpg");
    height: 170;
    position: relative;
}

.res {
    background-image: url(/resume.PNG);
    height: 889;
    width: 678;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.subheader {
    position:relative;
    bottom:70;
    font-size:30;
    color:white;
    text-align: center;
    vertical-align: middle;
}

.me {
    position: relative;
    font-size:30;
    color:black;
    font-weight: bold;
    text-decoration: underline;
}

.info
{
    left: 10;
    bottom: -12;
    position: absolute;
    font-size:15;
    color: white;
}

.navbar {
  text-align: center;
  height:50;
  background-color: #343a40;
  
}

.leftside {
    top:20;
    float: left;
    width:50%;
    left:100;
    height: 400;
    position: relative;
    text-align: center;
}

.rightside {
    top:20;
    float:right;
    width:40%;
    right: 300;
    text-align: center;
    position: relative;
    text-align: center;
}

.contact {
    top:400;
    right:110;
    position: relative;
    text-align: center;
    vertical-align:middle;
   
}

.footer {
    position:fixed;
    left:0;
    bottom:0;
    height:40;
    width:100%;
    background-color: #343a40;
}

button.btn {
    background-color: #343a40 !important;
    border: none;
    outline: none;
    color: white;
    font-size: 28;
    height: 50;
    
}

button.btn:hover {
    color:aqua;
}

/* Add a black background color to the top navigation bar */
.searchsection {
  overflow: hidden;
  background-color: gray;
}

/* Style the search box inside the navigation bar */
.searchsection input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
    margin-left: 8px;
  font-size: 17px;
}

.searchsection button {
  float: left;
  padding: 60px 100px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
